* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #36384e;
}

.hidden {
  display: none !important;
}

.signUpCardContainer {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
  width: 960px;
}

.leftSide {
  padding: 60px;
}

.headerContainer {
  margin: 30px 0 20px;
}

.header {
  font-size: 55px;
  font-weight: 700;
  color: #242742;
}

.listHeaderDiv {
  margin-bottom: 20px;
}

.listHeader {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.listItem {
  list-style: none;
  font-size: 16px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 0px;
}

.listItem::before {
  content: '';
  background: url(assets/images/icon-list.svg) no-repeat center center;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  transform: translateX(-200%);
}
.rightSide {
  padding: 25px;
}

.formDiv {
  margin-top: 40px;
}

.emailLabelAndError {
  display: flex;
  justify-content: space-between;
}

.emailLabel,
.emailError {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 10px;
}

.emailLabel {
  color: #242742;
}

.emailError {
  color: #ff6257;
}

form {
  display: flex;
  flex-direction: column;
}

.emailInput {
  width: 100%;
  padding: 18px;
  border-radius: 10px;
  border: 1px rgb(192, 192, 192) solid;
  font-size: 16px;
}

.emailInput:hover {
  cursor: pointer;
}

.emailInput:active {
  border: 1px #242742 solid;
}

.emailInputError {
  border: 2px #ff6257 solid;
  background-color: #fde5e3;
  color: #ff6257;
}

.subBtn {
  padding: 18px;
  border-radius: 10px;
  border: none;
  background-color: #242742;
  color: white;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
}

.subBtn:hover {
  background-color: #ff6257;
  box-shadow: 0px 5px 30px #ff6257;
  cursor: pointer;
  transition: 0.15s;
}

.subBtn:active {
  background-color: #e2584e;
  box-shadow: 0px 5px 30px #e2584e;
  cursor: pointer;
}

.thankYou {
  background-color: white;
  width: 505px;
  display: flex;
  flex-direction: column;
  padding: 60px;
  border-radius: 40px;
}

.imgDiv {
  margin-bottom: 40px;
}

.tyHeader {
  font-size: 56px;
  font-weight: 800;
  color: #242742;
  margin-bottom: 20px;
}

.tyPara {
  color: #242742;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 40px;
}

.emailSpan {
  font-weight: 800;
}

.dismiss {
  background-color: #242742;
  padding: 20px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.dismiss:hover {
  background-color: #ff6257;
  box-shadow: 0px 5px 30px #ff6257;
  cursor: pointer;
  transition: 0.15s;
}

@media only screen and (max-width: 450px) {
  body {
    background-color: white;
  }

  .signUpCardContainer {
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 0%;
  }

  .leftSide {
    padding: 30px;
  }

  .rightSide {
    padding: 0;
  }
  .headerContainer {
    margin: 10px 0 20px;
  }
  .header {
    font-size: 45px;
    font-weight: 700;
    color: #242742;
    margin-top: 30px;
  }

  .listHeader {
    font-size: 16px;
  }

  .listItem {
    font-size: 16px;
  }

  .emailLabel,
  .emailError {
    font-size: 14px;
  }

  .subBtn {
    font-size: 16px;
  }

  .image {
    height: 210px;
  }

  .bigPic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .tyPara {
    font-size: 16px;
  }

  .imgDiv {
    margin-top: 100px;
  }

  .dismiss {
    margin-top: 250px;
    font-size: 16px;
  }
}
